body,input{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 14px;
}

#content{
  position: absolute;
  top: 80px;
  width: 100%;
  height: 87%;
  min-width: 70%;
  min-height: 89%;
  margin: 0 auto;
  background-color: #FBF4E6;
  padding-bottom: 50px;
}

.title{
  color: black;
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 20px 0;
  letter-spacing: 1px;
  text-align: left;
}

.other{
  color: black;
  font-size: 16px;
  line-height: 60px;
  letter-spacing: 1px;
  text-align: left;
}

.page{
  border: 1px solid black;
  width: 90%;
  height: 93%;
  float: left;
  margin-top: 5px;
  padding: 10px 30px;
  color: black;
  font-size: 16px;
  line-height: 60px;
  letter-spacing: 1px;
  text-align: center;
}

.next{
  float: left;
  margin-left: 10px;
  width: 7%;
  max-width: 31px;
  min-width: 5px;
  height: 15%;
  max-height: 41px;
  min-height: 7px;
}

.next img{
  width: 100%;
  height: 100%;
}

.prev{
  float: left;
  margin-right: 10px;
  width: 7%;
  max-width: 31px;
  min-width: 5px;
  height: 15%;
  max-height: 41px;
  min-height: 7px;
}

.prev img{
  width: 100%;
}

.page input[type="text"]{
  width: 60%;
  border-style: none;
  padding: 0;
  outline: 0;
  border-bottom: 1px solid black;
  font-size: 16px;
  letter-spacing: 1px;
  padding-left: 30px;
  padding-right: 20px;
  outline: 0;
}

.returndate{
  text-align: left;
}

.returndate span{
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}

.page input[type="submit"]{
  height: 35px;
  width: 150px;
  padding: 6px 8px;
  font-size: 14px;
  letter-spacing: 3px;
  color: black;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  outline: 0;
}

.caution{
  color: #758869;
  text-align: center;
  font-size: 5px;
  margin: 50px auto 20px auto;
  line-height: 20px;
  width: 100%;
}

.submit input[type="button"]{
  outline: 0;
  height: 35px;
  width: 150px;
  padding: 6px 8px;
  font-size: 14px;
  letter-spacing: 3px;
  color: black;
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

.page p{
  margin: 0;
  height: 30px;
  font-size: 16px;
  padding: 0;
}
