body,h1,input{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 14px;
}

#content{
  position: absolute;
  top: 80px;
  width: 100%;
  min-width: 70%;
  min-height: 84%;
  margin: 0 auto;
  background-color: #FBF4E6;
  padding-bottom: 35px;
  background-size: cover;
}

.contents{
  width: 60%;
  height: 100%;
  min-height: 90%;
	position: relative;
	background-color: white;
	margin: 0 auto;
	margin-top: 30px;
	border: 1px solid black;
}

.title{
  height: 51px;
  width: 100%;
  margin: 15px auto;
}

.title h1{
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: normal;
  margin: 12px auto;
}

.title ul{
  /zoom:1;
  padding: 0;
  text-align: center;
}

.title li{
  display: inline-block;
  list-style: none;
}

.image{
  display: inline-block;
  list-style: none;
  width: 22%;
  min-width: 10px;
  padding: 5px 5px;
}

.image img{
  width: 100%;
  max-width: 200px;
}


/*confirm*/

.confirm{
  width: 60%;
  margin: 0 auto;
  margin-top: 60px;
}

.confirm ul{
  /zoom:1;
  padding: 0;
  text-align: left;
  margin-bottom: 30px;
}

.confirm li{
  display: inline-block;
  list-style: none;
  font-size: 14px;
  margin-bottom: 40px;
}

.confirm form{
  text-align: center;
  width: 100%;
  height: 40px;
  margin: 15px auto;
}

.confirm input[type="submit"]{
  height: 40px;
  width: 175px;
  padding: 6px 8px;
  font-size: 1.2em;
  color: black;
  background-color: white;
  border: 1px solid black;
  letter-spacing: 2px;
  outline: 0;
}

.submit input[type="button"]{
  height: 40px;
  width: 175px;
  padding: 6px 8px;
  font-size: 1.2em;
  color: black;
  background-color: white;
  border: 1px solid black;
  letter-spacing: 2px;
  outline: 0;
}

.submit{
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.balloon {
  position: relative;
  top: -90px;
  width: 175px;
  height: 30px;
  border: 1px solid #e6f2f7;
  background-color: #e6f2f7;
  margin: 0 auto;
  transition: .3s;
  opacity: 0;
}
.balloon:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid #e6f2f7;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.balloon:after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid #e6f2f7;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
}

.p{
  margin: 0;
  margin: 8px 0;
  font-size: 8px;
  color: #808080;
}

.confirm input[type="submit"]:hover + .balloon {
  opacity: 1;
  top: -83px;
}
