body{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 12px;
  background-color: #FBF4E6;
  z-index: 0;
}


#footer{
  position: absolute;
  bottom: 0px;
  font-size: 8px;
  width: 100%;
  text-align: center;
  letter-spacing: 1.5px;
  height: 35px;
}
