body{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 12pt;
  color: #808080;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  /*background-image: url("../img/back.jpg");*/
  background-color: #e6f2f7;
  background-size: cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.content p{
  font-size: 11px;
}

input{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 10pt;
  color: #808080;
  letter-spacing: 2px;
  outline: 0;
}

input:-webkit-autofill {
	box-shadow: 0 0 0 1000px white inset;
}

#login{
  text-align: center;
  padding-top: 150px;
}

#login input[type="text"],input[type="password"]{
  border: 0;
  border: 1px solid #808080;
  height: 25px;
  width: 30%;
  font-size: 0.8em;
  margin-bottom: 25px;
  color: #808080;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#login input[type="text"]{
  margin-top: 50px;
}



#login input[type="submit"]{
  border: 0;
  height: 35px;
  width: 15%;
  padding: 5px 10px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #808080;
  margin: 30px auto 0 auto;
}

#login input[type="text"]::-webkit-input-placeholder {
  color: #808080;
}
#login input[type="password"]::-webkit-input-placeholder {
  color: #808080;
}
#login input[type="text"]::-moz-placeholder {
  color: #808080; opacity: 1;
}
#login input[type="password"]::-moz-placeholder {
  color: #808080; opacity: 1;
}
#login input[type="text"]:-ms-input-placeholder {
  color: #808080;
}
#login input[type="password"]:-ms-input-placeholder {
  color: #808080;
}

.err_msg{
  display: inline;
  font-size: 10px;
}
