body,input{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 12px;
}

#content{
  position: absolute;
  top: 80px;
  width: 100%;
  min-width: 70%;
  min-height: 84%;
  margin: 0 auto;
  background-color: #FBF4E6;
  padding-bottom: 35px;
}

#content ul{
  /zoom:1;
  padding: 0;
  text-align: center;
}

#content li{
  display: inline-block;
  list-style: none;
}


.search{
  text-align: center;

}

.search img{
  position: relative;
  top: 0;
  left: 30px;
  top: 10px;
  width: 20px;
}

.either1 img{
  padding-top: 8px;
}

.search input[type="text"]{
  border: 0;
  border-bottom: 1px solid black;
  height: 45px;
  width: 50%;
  padding-left: 50px;
  padding-right: 10px;
  font-size: 1.4em;
  background-color: #FBF4E6;
  outline: 0;
}

.search input[type="submit"]{
  height: 45px;
  width: 90px;
  padding: 6px 8px;
  font-size: 1.0em;
  color: black;
  background-color: #FBF4E6;
  border: 1px solid black;
  outline: 0;
}

form{
  margin: 0;
}

table{
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: white;
  font-size: 10px;
}

table td{
  text-align: center;
  padding: 2px;
  letter-spacing: 2px;
}

.tr{
  height: 34px;
}

.table input[type="submit"]{
  height: 25px;
  width: 50px;
  padding: 3px 3px;
  font-size: 1.1em;
  color: black;
  background-color: white;
  border: 1px solid #808080;
  letter-spacing: 3px;
  margin: 2px 5px;
  outline: 0;
}

input:-webkit-autofill {
	box-shadow: 0 0 0 1000px #FBF4E6 inset;
}


/*image*/
#slider{
  margin: 0 auto;
  margin-top: 5px;
  width: 95%;
  height: 400px;
  background-color: #FBF4E6;
  position: relative;;
  top: 0px;
}

.slider .slide {
	width: 820px;
	height: 360px;
	margin-top: 30px;
	padding-left: 50px;
	float: left;
}

.slider {
	width: 853px;
	height: 360px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.slider .slideSet {
	position: absolute;
}

.section img{
	margin-bottom: 40px;
}

.section {
	float: left;
	width: 100px;
	margin: 0 50px 0 0;
}

button {
    width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
    outline: 0;
}

.slider-prev,
.slider-next {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 37%;
}

.slider-prev {
	left: 5px;
}

.slider-next {
	right: 5px;
}

.section{
  margin: 20px 25px;
}

.section input[type="image"]{
  max-width: 100px;
  max-height: 141px;
  outline: 0;

}

.slider-prev img,
.slider-next img{
  width: 40px;
  height: 40px;
}






/*ANDOR*/
.sample{
  text-align: center;
  margin: 10px;
}

.sample input[type=radio] {
    display: inline-block;

}
.sample input[type=radio] + label{
    position: relative;

    display: inline-block;
    margin-right: 12px;

    font-size: 14px;
    line-height: 30px;

    cursor: pointer;
}

@media (min-width: 1px) {
    .sample input[type=radio]{
        display: none;
        margin: 0;
    }
    .sample input[type=radio] + label{
        padding: 0 0 0 24px;
    }
    .sample input[type=radio] + label::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -9px;

        background: #FFF;
    }
    .sample input[type=radio] + label::before {
        border: 1px solid black;
        border-radius: 30px;
    }

    .sample input[type=radio]:checked + label::after {
        content: "";
        position: absolute;
        top: 50%;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
    }
    .sample input[type=radio]:checked + label::after {
        left: 5px;

        width: 8px;
        height: 8px;
        margin-top: -4px;

        background: #E71063;
        border-radius: 8px;
    }


    /* either */
    .sample .either {
        position: relative;
        height: 46px;
        display: inline-block;
        width: 150px;
        overflow: hidden;
        border: 1px solid black;
    }
    .sample .either input[type=radio] + label {
        position: static;

        float: left;
        display: block;
        width: 50%;
        margin-right: 0;
        padding: 0;
        overflow: hidden;
        padding-top: 7px;
        text-align: center;
    }
    .sample .either  input[type=radio] + label::before {
        content: attr(data-label);

        top: 0;
        bottom: 0;
        z-index: 1;

        display: block;
        width: 50%;
        height: auto;
        margin-top: 0;

        text-align: center;

        color: transparent;
        background: transparent;
        border: 0 none;
        border-radius: 0;
    }
    .sample .either input[type=radio] + label/*:last-child*/::before {
        left: 50%;
        right: 0;

    }
    .sample .either input[type=radio]:checked + label::before {
        color: #fff;
    }

    .sample .either input[type=radio] + label::after {
        border-radius: 0;
    }
    .sample .either input[type=radio]/*:first-child*/ + label::after {
        content: none;
    }
    .sample .either input[type=radio] + label + input[type=radio] + label::after {
        content: "";

        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 0;

        display: block;
        width: auto;
        height: auto;
        margin: 2px;

        background-color: rgba(255,255,255,0.1);
        border: 1px solid black;


        -webkit-transition: all 200ms;
        transition: all 200ms;
    }

    .sample .either input[type=radio]:checked + label + input[type=radio] + label::after {
        left: 0;
        right: 50%;
    }
    .sample .either input[type=radio] + label + input[type=radio]:checked + label::after {
        left: 50%;
        right: 0;
    }

}


/*imglist*/
.sample1{
  text-align: center;
  margin: 10px;
}

.sample1 input[type=radio] {
    display: inline-block;

}
.sample1 input[type=radio] + label{
    position: relative;

    display: inline-block;
    margin-right: 12px;

    font-size: 14px;
    line-height: 30px;

    cursor: pointer;
}

@media (min-width: 1px) {
    .sample1 input[type=radio]{
        display: none;
        margin: 0;
    }
    .sample1 input[type=radio] + label{
        padding: 0 0 0 24px;
    }
    .sample1 input[type=radio] + label::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -9px;

        background: #FFF;
    }
    .sample1 input[type=radio] + label::before {
        border: 1px solid black;
        border-radius: 30px;
    }

    .sample1 input[type=radio]:checked + label::after {
        content: "";
        position: absolute;
        top: 50%;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
    }
    .sample1 input[type=radio]:checked + label::after {
        left: 5px;

        width: 8px;
        height: 8px;
        margin-top: -4px;

        background: #E71063;
        border-radius: 8px;
    }


    /* either */
    .sample1 .either1 {
        position: relative;

        display: inline-block;
        width: 120px;
        height: 46px;
        overflow: hidden;
        border: 1px solid black;
    }
    .sample1 .either1 input[type=radio] + label {
        position: static;

        float: left;
        display: block;
        width: 50%;
        margin-right: 0;
        padding: 0;
        overflow: hidden;

        text-align: center;
    }
    .sample1 .either1  input[type=radio] + label::before {
        content: attr(data-label);

        top: 0;
        bottom: 0;
        z-index: 1;

        display: block;
        width: 50%;
        height: auto;
        margin-top: 0;

        text-align: center;

        color: transparent;
        background: transparent;
        border: 0 none;
        border-radius: 0;
    }
    .sample1 .either1 input[type=radio] + label:last-child::before {
        left: 50%;
        right: 0;

    }
    .sample1 .either1 input[type=radio]:checked + label::before {
        color: #fff;
    }

    .sample1 .either1 input[type=radio] + label::after {
        border-radius: 0;
    }
    .sample1 .either1 input[type=radio]:first-child + label::after {
        content: none;
    }
    .sample1 .either1 input[type=radio] + label + input[type=radio] + label::after {
        content: "";

        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 0;

        display: block;
        width: auto;
        height: auto;
        margin: 2px;

        background-color: rgba(255,255,255,0.1);
        border: 1px solid black;


        -webkit-transition: all 200ms;
        transition: all 200ms;
    }

    .sample1 .either1 input[type=radio]:checked + label + input[type=radio] + label::after {
        left: 0;
        right: 50%;
    }
    .sample1 .either1 input[type=radio] + label + input[type=radio]:checked + label::after {
        left: 50%;
        right: 0;
    }

}
