body,h1,input,p{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 14px;
}

#content{
  position: absolute;
  top: 80px;
  width: 100%;
  min-width: 70%;
  min-height: 84%;
  margin: 0 auto;
  background-color: #FBF4E6;
  padding-bottom: 35px;
  background-size: cover;
}

.contents{
  width: 60%;
  height: 500px;
	position: relative;
	background-color: white;
	margin: 0 auto;
	margin-top: 20px;
	border: 1px solid black;
}

/*title*/
.title{
  height: 51px;
  width: 100%;
  margin: 15px auto;
}

.title h1{
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: normal;
  margin: 12px auto;
}

.title ul{
  /zoom:1;
  padding: 0;
  text-align: center;
}

.title li{
  display: inline-block;
  list-style: none;
}

.image{
  display: inline-block;
  list-style: none;
  width: 22%;
  min-width: 10px;
  padding: 5px 5px;
}

.image img{
  width: 100%;
  max-width: 200px;
}

.check{
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.check input[type="submit"]{
  height: 40px;
  width: 200px;
  padding: 6px 8px;
  font-size: 1.2em;
  color: black;
  background-color: white;
  border: 1px solid black;
  letter-spacing: 2px;
  margin-top: 20px;
  outline: 0;
}

/*suc*/
.suc input[type="submit"]{
  height: 40px;
  width: 150px;
  padding: 6px 8px;
  font-size: 1.0em;
  color: black;
  background-color: white;
  border: 1px solid black;
  letter-spacing: 2px;
  margin-top: 30px;
  outline: 0;
}

#inline_content p{
  text-align: center;
  font-size: 12px;
  padding-top: 30px;
  letter-spacing: 2px;
}

/*fal*/
.fal input[type="submit"]{
  height: 35px;
  width: 100px;
  padding: 6px 6px;
  font-size: 1.0em;
  color: black;
  background-color: white;
  border: 1px solid black;
  letter-spacing: 2px;
  margin-top: 10px;
  outline: 0;
}

#inline_content img{
  display: block;
  margin: 0 auto;
  width: 40px;
  margin-top: 5px;
}

/*not*/
.not input[type="submit"]{
  height: 35px;
  width: 100px;
  padding: 6px 6px;
  font-size: 1.0em;
  color: black;
  background-color: white;
  border: 1px solid black;
  letter-spacing: 2px;
  margin-top: 10px;
  outline: 0;
}

#inline_content img{
  display: block;
  margin: 0 auto;
  width: 40px;
  margin-top: 5px;
}

.not .check{
  width: 100%;
  margin-top: 12px;
  text-align: center;
}


.sucbadd input[type="submit"]{
  height: 40px;
  width: 150px;
  padding: 6px 8px;
  font-size: 1.0em;
  color: black;
  background-color: white;
  border: 1px solid black;
  letter-spacing: 2px;
  outline: 0;
}




.baddcheck{
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.baddcheck input[type="submit"]{
  height: 40px;
  width: 200px;
  padding: 6px 8px;
  font-size: 1.0em;
  color: black;
  background-color: white;
  border: 1px solid black;
  letter-spacing: 2px;
  outline: 0;
  margin-top: 5px;
}
