@import url("./header.css");

body{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 12px;
  background-size: cover;
  background-color: #F6E8D2;
}




#content{
  width: 95%;
  height: 73%;
  background-color: #FEFBF5;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 5px;
}

.contSlider li {
  float: left;
  list-style: none;
  margin: 10px 30px;
}

.contSlider li a{
  display: block;
}

.request{
  margin-top: 3px;
}
