body{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 12px;
  background-size: cover;
  background-color: #F6E8D2;
  width: 100%;
}

#content{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 95%;
  height: 80%;
  background-color: #FEFBF5;
  position: relative;;
  top: 60px;
}

/*ibo*/

#container {
	width: 900px;
	margin: 0 auto;
	position: relative;
}

.title{
  height: 50px;
  width: 100%;
  margin: 15px auto;
}

.title h1{
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: normal;
}

.title ul{
  /zoom:1;
  padding: 0;
  text-align: center;
}

.title li{
  display: inline-block;
  list-style: none;
}

.image{
  display: inline-block;
  list-style: none;
  width: 20%;
  min-width: 10px;
  padding: 5px 30px;
}

.image img{
  width: 100%;
}

.line {
	margin: 0;
	padding: 0 30px ;
	vertical-align: middle;
}

.slider .slide {
	width: 800px;
	height: 393px;
	margin: 70px auto 0;
	padding-left: 50px;
	float: left;
}

.slider {
	width: 800px;
	height: 393px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.slider .slideSet {
	position: absolute;
}

.section img{
	margin-bottom: 40px;
}

.section {
	float: left;
	width: 100px;
	margin: 0 50px 0 0;
}

button {
    width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
}

.slider-prev,
.slider-next {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 60%;
}

.slider-prev {
	left: 40px;
}

.slider-next {
	right: 40px;
}
