body{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 12px;
  background-size: cover;
  background-color: #FBF4E6;
  width: 100%;
}

#content{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 95%;
  height: 597px;
  background-color: #FBF4E6;
  position: relative;;
  top: 80px;
}

/*ibo*/

#container {
  height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.title{
  height: 51px;
  width: 100%;
  margin: 15px auto;
  margin-top: 50px;
}

.title h1{
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: normal;
  margin: 12px auto;
}

.title ul{
  /zoom:1;
  padding: 0;
  text-align: center;
}

.title li{
  display: inline-block;
  list-style: none;
}

.image{
  display: inline-block;
  list-style: none;
  width: 22%;
  min-width: 10px;
  padding: 5px 5px;
}

.image img{
  width: 100%;
  max-width: 200px;
}

.slider .slide {
	width: 820px;
	height: 393px;
	margin-top: 30px;
	padding-left: 50px;
	float: left;
}

.slider {
	width: 853px;
	height: 510px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.slider .slideSet {
	position: absolute;
}

.section img{
	margin-bottom: 40px;
}

.section {
	float: left;
	width: 100px;
	margin: 0 50px 0 0;
}

button {
    width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
    outline: 0;
}

.slider-prev,
.slider-next {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 37%;
}

.slider-prev {
	left: 5px;
}

.slider-next {
	right: 5px;
}

.section{
  margin: 20px 25px;
}

.section input[type="image"]{
  max-width: 100px;
  max-height: 141px;
  outline: 0;

}

.slider-prev img,
.slider-next img{
  width: 40px;
  height: 40px;
}
