body,h1,input,span{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 14px;
}

#content{
  position: absolute;
  top: 80px;
  width: 100%;
  min-width: 70%;
  min-height: 84%;
  margin: 0 auto;
  background-color: #FBF4E6;
  padding-bottom: 35px;
  background-size: cover;
}

.contents{
  width: 70%;
  height: 500px;
  min-height: 90%;
	position: relative;
	background-color: white;
	margin: 0 auto;
	margin-top: 20px;
	border: 1px solid black;
}

.title{
  height: 51px;
  width: 100%;
  margin: 15px auto;
}

.title h1{
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: normal;
  margin: 12px auto;
}

.title ul{
  /zoom:1;
  padding: 0;
  text-align: center;
}

.title li{
  display: inline-block;
  list-style: none;
}

.image{
  display: inline-block;
  list-style: none;
  width: 20%;
  min-width: 10px;
  padding: 5px 30px;
}

.image img{
  width: 100%;
}

.submit input[type="submit"]{
  height: 40px;
  width: 200px;
  padding: 6px 8px;
  font-size: 1.2em;
  color: black;
  background-color: white;
  border: 1px solid black;
  letter-spacing: 2px;
  outline: 0;
}

.password{
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.password form{
  width: 100%;
}

.password input[type="password"]{
  height: 30px;
  width: 350px;
  padding: 6px 8px;
  font-size: 16px;
  color: black;
  background-color: white;
  border: 1px solid black;
  margin: 0;
  margin-bottom: 15px;
  outline: 0;
}

.error{
  color: red;
  display: inline;
  padding-left: 20px;
}

.submit input[type="submit"]{
  height: 40px;
  width: 200px;
  padding: 6px 8px;
  font-size: 1.2em;
  color: black;
  background-color: white;
  border: 1px solid black;
  letter-spacing: 2px;
  margin-top: 40px;
  outline: 0;
}

.submit input[type="button"]{
  height: 40px;
  width: 200px;
  padding: 6px 8px;
  font-size: 1.2em;
  color: black;
  background-color: white;
  border: 1px solid black;
  letter-spacing: 2px;
  outline: 0;
}

.submit{
  width: 100%;
  margin-top: 30px;
  text-align: center;
}




.link ul{
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 50px;

}

.link li{
  display: inline-block;
  margin: 0 75px;
  list-style: none;
}

button {
  font-size: 15px;
  letter-spacing: 2px;
	display: block;
	text-align: center;
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	color: #333333;
	width: 200px;
	height: 200px;
  outline: 0;
	box-sizing: border-box;
	border: solid 1px #333333;
	background: url(../img/button_link.png) no-repeat -1px -1px;
	-webkit-transition: 0.3s ease-in-out;
	   -moz-transition: 0.3s ease-in-out;
	     -o-transition: 0.3s ease-in-out;
	        transition: 0.3s ease-in-out;
}

button:hover {
	color: #ffffff;
	background-position: -1px bottom;
  outline: 0;
}

input:-webkit-autofill {
	box-shadow: 0 0 0 1000px white inset;
}
