body,h1{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 14px;
}

body{
  background-size: cover;
}

#menu{
  width: 1277px;
  height: 82px;
  background-color: #F6E8D2;
}

#footer{
  width: 1277px;
  height: 18px;
  background-color: #F6E8D2;
  position: fixed;
  bottom: 0px;
}

.old a{
  float: right;
  padding-top: 5px;
  padding-right: 30px;
}

.now a{
  float: left;
  padding-top: 5px;
  padding-left: 30px;
}

table{
  border-collapse: collapse;
  margin: 0 auto;
}

table td{
  text-align: center;
  padding: 2px;
  letter-spacing: 2px;
}

.title{
  height: 25px;
  width: 100%;
  margin: 15px auto;
}

.title h1{
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: normal;
}



.title ul{
  /zoom:1;
  padding: 0;
  text-align: center;
}

.title li{
  display: inline-block;
  list-style: none;
}

.title img{
  margin: 5px 30px;
}

.content{
  width: 85%;
  height: 480px;
  margin: 30px auto 10px auto;
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 15px 15px;
}
