body{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 12px;
  background-color: #FBF4E6;
  z-index: 0;
}

#menu{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header{
  height: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header img{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10px;
}

.menu{
  background-color: #FFFFFF;
  height: 70px;
  min-height: 60px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 10px;
}

.menu:after{
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}



.left{
  float: left;
  position: absolute;
  left: 0px;
  top: 15px;
  overflow: hidden;
  margin-left: 30px;
}

.left input[type="image"]{
  outline: 0;
  height: 40px;
}

.center{
  height:70px;
  min-height: 60px;
  width: 775px;
  margin: 0 auto;
}

.center p {
	margin: 0;
	padding: 0;
	font-size: 8px;
	text-align: center;
}

.center ul:after{
  content: "";
  display: block;
  clear: both;
}

.center ul{
  /zoom: 1;
  margin: 0;
  height:35px;
  min-height: 35px;
  width: 775px;
  min-width: 550px;
  text-align: center;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 28px;
}

.headerimage{
  display: inline-block;
  list-style: none;
  transition: .3s;
  position: relative;
  top: 5px;
}

.headerimage :hover{
  transform: rotate(-15deg);
}

.headertext{
  display: inline-block;
  list-style: none;
  transition: .3s;
  position: relative;
  top: 0px;
  left: -3px;
}

.center input[type="image"]{
  outline: 0;
  width: 20px;
  margin-left: 10px;
}

.hito input[type="image"]{
  outline: 0;
  width: 26px;
  margin-left: 10px;
}

.center input[type="submit"]{
  font-size: 10px;
  letter-spacing: 2px;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  outline: 0;
  border: none;
  background-color: white;
  margin-right: 10px;
  padding: 0;
  cursor: pointer;
  margin-bottom: 5px;
}

.center input[type="submit"]:hover {
  transition: color .3s;
	color: #758869;
}

.right{
  float: left;
  position: fixed;
  right: 0;
  top: 10px;
  color: #323232;
  font-weight: bolder;
  letter-spacing: 1.5px;
  height: 25px;
  width: 300px;
}

.right ul{
  margin: 0;
  padding: 0;
  margin-top: 3px;
  height: 30px;
  width: 300px;
}

.right li {
  float: left;
  list-style: none;

}

.logout{
  font-weight: 100;
  font-size: 10px;
}

.right li a{
  padding: 2px 15px 2px 15px;

  text-decoration:none;
  position: relative;
  top:1px;
}

.right li a:link{
  color: #B4B2AF;
}

.right li a:visited{
  color: #B4B2AF;
}

.right li a:hover{
  color: #323232;
}

.right li a:active{
  color: #B4B2AF;
}

.right li+li a{
  border-left: solid 1px #B4B2AF;
}
