body{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 12px;
  background-size: cover;
}



.header{
  background-color: #ABD695;
  height: 12px;
}

.menu{
  background-color: #F6E8D2;

}

.menu:after{
  content: "";
  display: block;
  clear: both;
}

.left{
  float: left;
  margin-left: 20px;

}

.left img{
  width: 60px;
  height: 60px;
}

.center{

  height:70px;
  float: left;
  margin-left: 220px;
}

.center li{
  float: left;
  list-style: none;
}

.center ul:after{
  content: "";
  display: block;
  clear: both;
}

.center ul{
  *zoom: 1;
}

.center li{
  display: block;
  margin: 0 20px;
}

.right{
  float: right;
  margin-right: 20px;
  color: #B4B2AF;
}

.right li {
  float: left;
  list-style: none;
}

.right li a{
  padding: 2px 15px;
  text-decoration:none;
}

.right li a:link{
  color: white;
}

.right li a:visited{
  color: white;
}

.right li a:hover{
  color: #B4B2AF;
}

.right li a:active{
  color: white;
}

.right li+li a{
  border-left: solid 1px white;
}

#footer{
  position: fixed;
  bottom: 0px;
  right: 10px;
  font-size: 12px;
}

#content{
  position: fixed;
  top: auto;
  height: 480px;
}


.link{
  width: 150px;
  height: 150px;
  border: 1px solid black;

}

.link a{
  color: black;
  background-color: white;
  display: block;
  text-align: center;
  margin: 65px auto 65px auto;

}

.hover:hover .link{
  color: white;
  background-color: black;
}

.hover:hover .link a{
  color: white;
  background-color: black;
}
