@charset "UTF-8";
/* CSS Document */

a {
	display: block;
	text-align: center;
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	color: #333333;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border: solid 1px #333333;
	background: url(images/button_link.png) no-repeat -1px -1px;
	-webkit-transition: 0.3s ease-in-out;
	   -moz-transition: 0.3s ease-in-out;
	     -o-transition: 0.3s ease-in-out;
	        transition: 0.3s ease-in-out;
}
a:hover {
	color: #ffffff;
	background-position: -1px bottom;
}
