body{
  margin:0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size: 12px;
}

#menu{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header{
  height: 12px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header img{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 12px;
}

.menu{
  background-color: #FFFFFF;
  height: 80px;
  min-height: 60px;
  width: 100%;
  overflow: hidden;

}

.menu:after{
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}



.left{
  float: left;
  position: relative;
  left: 0px;
  top: 12px;
  /*max-width: 12%;*/
  overflow: hidden;
  margin-top: 15px;
  margin-left: 30px;
}

.left input[type="image"]{
  outline: 0;
  height: 40px;
}



.center{
  height:40px;
  min-height: 60px;
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  top: 12px;
}

.center p {
	margin: 0;
	padding: 0;
	font-size: 8px;
	text-align: center;
  position: relative;
  top: 0;
}

.center ul:after{
  content: "";
  display: block;
  clear: both;
}

.center ul{
  /zoom: 1;
  margin: 0;
  height:55px;
  min-height: 35px;
  width: 650px;
  min-width: 650px;
  text-align: center;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.center li{
  display: inline-block;
  margin: 0 20px;
  list-style: none;
}

.center input[type="image"]{
  outline: 0;
}

.right{
  float: left;
  position: absolute;
  right: 0;
  top: 12px;
  color: #323232;
  font-weight: bolder;
  letter-spacing: 1.5px;
  height: 45px;
  width: 300px;

}

.right ul{
  margin: 0;
  padding: 0;
  margin-top: 3px;
  height: 30px;
  width: 300px;
}

.right li {
  float: left;
  list-style: none;

}

.logout{
  font-weight: 100;
  font-size: 10px;
}

.right li a{
  padding: 2px 15px 2px 15px;

  text-decoration:none;
  position: absolute;
  top:4px;
}

.right li a:link{
  color: #B4B2AF;
}

.right li a:visited{
  color: #B4B2AF;
}

.right li a:hover{
  color: #323232;
}

.right li a:active{
  color: #B4B2AF;
}

.right li+li a{
  border-left: solid 1px #B4B2AF;
}
